= render partial: 'shared/header'

.container
  .row
    .span12
      %h1 Tarefas
      .pull-right
        = form_tag '/', method: :get do
          Filtrar por label
          .input-append
            = select_tag :filter, options_from_collection_for_select(@labels, 'id', 'name', params[:filter]), prompt: 'Todos'
            = submit_tag 'Filtrar', class: 'btn'

  .row
    .span12
      - if @labels.any?
        .row
          .span12
            .pull-right
              .btn-group
                = link_to 'Nova tarefa', new_task_path, class: 'btn btn-primary'
                = link_to 'Nova label', new_label_path, class: 'btn'

        - if notice
          .alert.alert-success.alert-block
            %button{:type=>'button', :class=>'close', :data=>{:dismiss=>'alert'}} &times;
            %p= notice

        .wraper
          %table.table
            %thead
              %tr
                %th Descrição
                %th Label
                %th Status
                %th Data de Criação
                %th{:colspan=>'3'}
            %tbody
              - @tasks.each do |t|
                %tr{:class=> t.status ? 'todo' : 'done'}
                  %td= t.description
                  %td= t.label.name
                  %td
                    - if t.status
                      Todo
                    - else
                      Done
                  %td= t.created_at.strftime('%d/%m/%Y')
                  %td= link_to 'Exibir', t
                  %td= link_to 'Editar', edit_task_path(t)
                  %td= link_to 'Apagar', t, method: :delete, data:{confirm: 'Você tem certeza?'}

      - else
        .alert.alert-info.alert-block
          %h2 Antes de começar...
          %p Crie pelo menos um novo label para suas tarefas.

        = link_to 'Novo label', new_label_path, class: 'btn btn-large'

:javascript
  $(document).ready(function() {
    $("#tarefas").addClass("active");
  });
